.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 ,0, .4);
    font-family: 'Baloo 2';
}

.shadow .backBtn {
    position: absolute;
    top: 80px;
    left: 150px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.shadow .wrapper {
    margin: 0 auto;
    display: flex;
    color: white;
    margin-top: 10%;
    width: 80%;
    height: 60%;
}

.shadow .wrapper .goal {
    padding: 0px 20px;
    flex: 1;
    overflow: auto;
}

.shadow .wrapper .goal .title {
    font-size: 40px;
    width: 80%;
    margin-bottom: 30px;
}
.shadow .wrapper .goal .pic {
   background-image: url('../../resources/line.png');
   background-repeat: no-repeat;
   background-position: left;
   background-size: 100%;
   height: 20px;
   width: 100%;
   margin-bottom: 10px;

}
.shadow .wrapper .goal .title2 {
    position: relative;
    background-image: url('../../resources/star.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    margin-bottom: 10px;
}
.shadow .wrapper .goal .title2 .text2 {
    font-size: 30px;
    margin-left: 35px;

}
.shadow .wrapper .goal .value {
    font-size: 22px;
    font-family:'Lato';
    font-weight: 500;
    height: fit-content;
}


.shadow .wrapper .card {
    position: relative;
    font-size: 16px;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    background-color: gray;
    flex:1;
}

.shadow .wrapper .cardActiveWrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 ,0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.shadow .wrapper .cardCloseWrapper {
    display: none;
}

.shadow .wrapper .cardActiveWrapper .cardActive {
    font-size: 16px;
    border-radius: 8px;
    width: 600px;
    height: 600px;
    padding: 20px;
    background-color: gray;
    margin: auto
}


.shadow .wrapper .cardActiveWrapper .cardActive .close{
    text-align: end;
}

.shadow .wrapper .card .title, .shadow .wrapper .cardActiveWrapper .cardActive .title {
    text-align: center;
    font-size: 30px;
}


.shadow .wrapper .info {
    padding: 0px 20px;
    flex: 1;
    overflow: auto;
}

.shadow .wrapper .item:nth-child(n+2) {
    margin-top: 20px;
}

.shadow .wrapper .item .title {
    position: relative;
    background-image: url('../../resources/star.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
}

.shadow .wrapper .item .title .text {
    font-size: 30px;
    margin-left: 35px;
}

.shadow .wrapper .item .desc {
    font-size: 22px;
    font-weight: 500;
    font-family:'Lato';

}
.shadow .wrapper .item .desc .scrolltext{
    
    height: 30px;
}


.customplayer{
    display: inline-flex;
    align-items: center;
    color:#d3f1eb;
    background-color: rgba(118, 234, 255, 0.2);
    font-family: sans-serif;
    width: fit-content;
    border-radius: 15px;
    margin: 0 auto;
    bottom:0;
    position: absolute;
    left: 0;
    right: 0;
    top:10;
    margin-bottom: 25px;
}
.customplayertitle{
    font-size: 18px;
    font-weight: 100;
    margin-left: 0px;
    width: 100%;
    text-align: center;
}
.customplayertimer{
    text-align: right;
    margin-right: 2%;
    width: 200px;
    font-size: 14px;
    font-weight: 100;
}
.customplayerbtn{
    background-color: transparent;
    min-width: 70px;
    text-align: center;
    padding: 25px;
    border:0px;
    color:#d3f1eb;
    margin-left: 1%;
    align-items: center;
}
.logo{
    right: 0;
    left: 0;
    top: 10px;
    margin: 0 auto;
    position: absolute;
    background-image: url("../../resources/logo_calminder.png");
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    z-index: 11;
    width: 150px;
    height: 150px;
}
.amielogo{
    top: -45px;
    left:-20px;
    
  
    position: fixed;
    background-image: url("../../resources/logo_amie.png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    
    z-index: 100 !important;
    width: 250px;
    height: 150px;
    overflow: hidden;
}