* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
}

header h1 {
    font-family: 'Baloo 2';
    color:#FFAF20;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.logoHolder{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
}
.faqs {
    margin: 0 auto;
    padding: 25px;
    width: calc(100% / 8 * 6 - 20px);
}

.faqs .faq, .faqs .faqOpen {
    margin: 15px;
}


.faqs .faq .faqQuestion {
    padding:20px 0px;
    background-color: #FFAF20;
   /* width: 1000px;
    height: 80px;*/
    border-top-right-radius: 35px;
    font-family: 'Baloo 2';
    font-size: 30px;
    transition: all 0.4s ease;
    color:white;
}

.faqs .faq .questionContainer{
    display: flex;
}

.faqs .faq .faqQuestion::after {
    transform: translateY(-50%);
}

.faqs .faq .imgContainerQuestion{
    width: 222.5px;
    height: 80px;
    border-bottom-left-radius: 35px;
    background-color:  #ff5a3a;
    content: '';
    background-image: url("../../resources/arrow.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    transition: all 0.4s ease-out;
}

/*.faqs .faq .questionImg{


}
*/
.faqs .faq .faqOpen .answerContainer{
    display: flex;
    justify-content: flex-start;
    width: 1000px;
}

.faqs .faq .faqOpen .imgContainerAnswer{
    background-color: #275E87;
    width: 222.5px;
    content: '';
    background-image: url("../../resources/star.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    transition: all 0.4s ease-out;
    border-bottom-left-radius: 35px;
}

/*.faqs .faq .faqOpen .answerImg {
  /*  width: 222.5px;
    content: '';
    background-image: url("../../resources/star.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    transition: all 0.4s ease-out;
}*/

.faqs .faq .faqAnswer {
    font-family:'Lato';
    font-size:22px;
    color:white;
    background-color: #275E87;
    opacity: 20%;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease-out;
}


.faqs .faq .open .faqQuestion {

   margin-bottom: 15px;
}

.faqs .faqOpen .faqQuestion::after{
    transform:translateY(-50%) rotate(180deg);

}

.faqs .faqOpen .faqAnswer {
    max-height: 1000px;
    opacity: 1;
}