* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* h1{
    margin-top: 100px;

} */
.logo{
    right: 0;
    left: 0;
    top: 10px;
    margin: 0 auto;
    position: absolute;
    background-image: url("../../resources/logo_calminder.png");
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    z-index: 11;
    width: 150px;
    height: 150px;
}
.popo{
    margin-top: 150px; 
}
article{
    margin-top: 240px;
    
    position: fixed ;
    background-image: url("../../resources/blue_line.png");
    background-position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 70%;
   
}
header{
    
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
}

header .popo {
    position: fixed ;
    font-family: 'Baloo 2';
    color:#FFAF20;
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
}

.logoHolder{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
}
.faqs {
    margin: 0 auto;
    padding: 25px;
    width: calc(100% / 8 * 6 - 20px);
    list-style-type: none;
    transform: scale(0.85);
    height: 60%;
    position: fixed;
    overflow: auto;
    left:0px;
    right: 0px;
    bottom:0px; 
    top:27%;

}

.faqs .faq, .faqs .faqOpen {
    /* margin-top: 0px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px ; */
    margin:60px;
    margin-top: 0px;
}


.faqs .faq .faqQuestion, .faqs .faqOpen .faqQuestion {
    padding: 1.9% 2%;
    /* padding-top: 2.6%; */
    /* margin:0px; */
    background-color: #FFAF20;
    border-top-right-radius: 35px;
    font-family: 'Baloo 2';
    font-size: 20px;
    width: 100%;
    color:white;
    height: 80px;
    text-align: left;
}

.faqs .faq .questionContainer, .faqs .faqOpen .questionContainer {
    display: flex;
}

/* .faqs .faq .faqQuestion::after {
    transform: translateY(-50%);
} */

/* .faqs .faq .imgContainerQuestion{
    width: 222.5px;
    height: 80px;
    border-bottom-left-radius: 35px;
    background-color:  #ff5a3a;
    content: '';
    background-image: url("../../resources/arrow90.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}
.faqs .faqOpen .imgContainerQuestion {
    width: 222.5px;
    height: 80px;
    border-bottom-left-radius: 35px;
    background-color:  #ff5a3a;
    content: '';
    background-image: url("../../resources/arrow.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
} */
.faqs .faq .imgContainerQuestion {
    width: 222.5px;
    height: 80px;
    border-bottom-left-radius: 35px;
    background-color:  #ff5a3a;
    font-size: 2em;
    text-align: center;
    line-height: 5em;
}
  
.faqs .faq .imgContainerQuestion{
    position: relative;
    overflow: hidden;
}
  
.faqs .faq .imgContainerQuestion:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: 5;
    background-image: url("../../resources/arrow.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.faqs .faqOpen .imgContainerQuestion {
    width: 222.5px;
    height: 80px;
    border-bottom-left-radius: 35px;
    background-color:  #ff5a3a;
    content: '';
    background-image: url("../../resources/arrow.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
  
.faqs .faq .imgContainerQuestion:before {
    transform: rotate(-90deg);
}

.faqs .faqOpen .answerContainer{
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.faqs .faqOpen .answerContainer {
    opacity: 0.8;
    background-color: #275E87;
    z-index: -1;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.faqs .faqOpen .imgContainerAnswer{
    /* background-color: #275E87;
    opacity: 0.8; */

    width: 222.5px;
    content: '';
    background-image: url("../../resources/star.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 35px;
}

/*.faqs .faq .faqOpen .answerImg {
  /*  width: 222.5px;
    content: '';
    background-image: url("../../resources/star.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    transition: all 0.4s ease-out;
}*/

.faqs .faq .faqAnswer {
    font-family:'Lato';
    font-size:22px;
    color:white;
    max-height: 0;
    overflow-y: hidden;
}   


/* .faqs .faq .open .faqQuestion {

   margin-bottom: 10000px;
} */

/* .faqs .faqOpen .faqQuestion::after{
    transform:translateY(-50%) rotate(180deg);

} */

.faqs .faqOpen .faqAnswer {
    color: white;
    font-family:'Lato';
    max-height: 1000px;
    width: 100%;
    padding: 2%;
    border-bottom-right-radius: 35px;
    font-size: 22px;
}

.faqs .faqOpen .answerContainer .shadow {
    position: absolute;
    width: 100%;
    height: 48.55px;
    top: -48px;
    z-index: -1;
    opacity: 0.;
    background-color: #275E87;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
