.logo{
    right: 0;
    left: 0;
    top: 10px;
    margin: 0 auto;
    position: fixed;
    background-image: url("../resources/logo_calminder.png");
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    z-index: 11;
    width: 150px;
    height: 150px;
}

.amielogo{
    top: -45px;
    left:-20px;
    
  
    position: fixed;
    background-image: url("../resources/logo_amie.png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    
    z-index: 100 !important;
    width: 250px;
    height: 150px;
    overflow: hidden;
}