
.wrapper {
    position: fixed;
    display: flex;
    top: 50px;
    width: 100%;
}
.overflowbackground{
    margin: 0 auto;
    background-color: rgba(255, 255 ,255, .4);
    height: 85vh;
    margin-top: 180px;
    overflow: auto;
}

.wrapper .overflow {
    height: 60vh;
    width: 900px;
    overflow: auto;
    margin: auto;
    margin-top: 0px;
    z-index: 11;
}
.wrapper .overflow .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.wrapper .overflow .listRotate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 200px;
    margin: auto;
    padding-top: 100px;
    position: relative;
}

.wrapper .controls {
    position: absolute;
    right: 30px;
    bottom: 160px;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
}

.wrapper .controls img {
    cursor: pointer;
    width: 90px;
}

.wrapper .listSimple {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.wrapper .listSimple .item {
    width: 150px;
    background-color: gray;
    height: 200px;
    margin-bottom: 20px;
}

.wrapper .list .column {
    display: flex;
    flex-direction: column;
}

.wrapper .listSimple .itemSmall {
    width: 300px;
    height: 420px;
    background-color: gray;
}